.tensorflowhandwriting {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;

    .prediction {
        margin-top: 6vh;
    }

    .image {
        height: 36vh;
        margin-top: 6vh;
        width: 36vw;
    }

    .form {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 6vh;

        .input {
            font-family:Helvetica, Arial, sans-serif;
            font-size:20pt;
            line-height:2.6em;
            height:2.6em;
            margin:0;
            padding:0;
            width:100%;
        }

        .button {
            background-color: #20BF55;
            border: none;
            border-radius: 3rem;
            height: 9vh;
            margin-top: 30px;
            width: 15vh;
        }
    
        .button:hover {
            background-color: #f5d020;
            border: none;
            border-radius: 3rem;
        }
    }
}